<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 修正类路径 -->
    <bean id="student" class="cn.bhu.example.Student"/>
    <bean id="studentDao" class="cn.bhu.example.StudentDaoImpl"/>
</beans>